body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.wrapper {
  background: linear-gradient(
    180deg,
    rgba(18, 177, 63, 0.59) 0%,
    rgba(39, 108, 138, 0.79) 100%
  );
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: linear-gradient(
    180deg,
    rgba(9, 231, 18, 0.82) 0%,
    rgba(217, 217, 217, 0) 100%,
    rgba(141, 77, 41, 0.95) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(8.5px);
  border-radius: 10px;
  width: 400px;

  padding: 2rem 1.5rem;
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "display display display display"
    "ac c perc divide"
    "btn7 btn8 btn9 multi  "
    "btn4 btn5 btn6 subt "
    "btn1 btn2 btn3 plus "
    "btn0 btn0 dot ans";
}

.calculator div {
  background: grey;
  padding: 2rem 1.5rem;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 4px #000000;
  border-radius: 5px;
}

.calculator .display {
  grid-area: display;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-family: "Orbitron", sans-serif;
  border-radius: 5px;
}

.btn-ac {
  grid-area: ac;
}

.btn-c {
  grid-area: c;
}

.btn-perc {
  grid-area: perc;
}

.btn-divide {
  grid-area: divide;
}

.btn-7 {
  grid-area: btn7;
}

.btn-8 {
  grid-area: btn8;
}

.btn-9 {
  grid-area: btn9;
}

.btn-multi {
  grid-area: multi;
}

.btn-4 {
  grid-area: btn4;
}

.btn-5 {
  grid-area: btn5;
}

.btn-6 {
  grid-area: btn6;
}

.btn-subt {
  grid-area: subt;
}

.btn-1 {
  grid-area: btn1;
}

.btn-2 {
  grid-area: btn2;
}

.btn-3 {
  grid-area: btn3;
}

.btn-plus {
  grid-area: plus;
}

.btn-0 {
  grid-area: btn0;
}

.btn-dot {
  grid-area: dot;
}

.btn-ans {
  grid-area: ans;
}

.circle
{
    height: 150px;
    width: 150px;
    background:rgba(218, 26, 26, 0.65);
    border-radius: 50%;
 position: relative;
 left: 80px;
 top: 220px;



}